# Except these directories and their src folders
!demo/
!EMS/
!RESTAPI/

# Ignore everything inside them
demo/*
EMS/*
RESTAPI/*

# But allow src folders inside them
!demo/src/
!EMS/src/
!RESTAPI/src/

# Allow contents of src folders
!demo/src/**
!EMS/src/**
!RESTAPI/src/**
.vscode/
HELP.md
.gradle
build/
!gradle/wrapper/gradle-wrapper.jar
!**/src/main/**/build/
!**/src/test/**/build/

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache
bin/
!**/src/main/**/bin/
!**/src/test/**/bin/

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr
out/
!**/src/main/**/out/
!**/src/test/**/out/

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

### VS Code ###
.vscode/
